
h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.art{
    margin: auto;
}

td{
    height: 300px;
    width: 150px;
    border: 6px solid white;
}

#one{
    background-color:#052962;
}
#two{
    background-color:#002233;
}
#three{
    background-color:#6d0303;
}
#four{
    background-color:rgb(3, 97, 26);
}
#five{
    background-color:rgb(255, 230, 0);
}